<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>prueba cripteo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.5/web3.min.js" integrity="sha512-/T7YwzOsNeoNkuTfYKXn3CrJCGc5cnC8T4QW46Hy+3Xjdjrxzokmbx8M8Xavjq1K7dN4958kIRGy4J03VRIlSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='usdt-abi.js')}}"></script>
    <script src="{{url_for('static', filename='busd-abi.js')}}"></script>
    <script src="{{url_for('static', filename='busdtest-abi.js')}}"></script>
</head>
<body>
    <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
    <h1 id="billetera">billetera</h1>
    <p id="red">red</p>
    <button id="conectar">conectar</button>
    <button id="enviar">enviar</button>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>
